#test file
Debug
Binaries
bin

#build file
*.tar.gz
*.zip
Archives
Includes
include
lib
share
generated
outputJson
.settings/org.eclipse.cdt.managedbuilder.core.prefs

# temporary files
*.swp
*.swo
.DS_Store
*~

# Logs
*.stdout
*.stderr
nohup.out
