#test file
Debug
Binaries
bin

#build file
*.tar.gz
*.zip
build
Archives
Includes
include
lib
share
modules/canbus/apcm
modules/canbus/generated
modules/control/apcm
modules/control/generated
modules/localization/apcm
modules/localization/generated

#generated
#outputJson
.settings/org.eclipse.cdt.managedbuilder.core.prefs
*.pb.cc
*.pb.h

# temporary files
*.swp
*.swo
.DS_Store
*~

# Logs
*.stdout
*.stderr
nohup.out
/Release/
/UnitTest/
